
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background-image: url(harley-quinn2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #cccccc;
    margin: 0px;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    width: 3.5em;
    font-family: sans-serif;
    font-size: 5.0rem;
    font-family: "Anton";
    background-color: #00000040;
    border-radius: 10px;
    backdrop-filter: blur(12px);
    color: #D8225F;
    text-align: center;
    margin-bottom:  .25em;
}

#current_date {
    width: 15em;
    height:  1.7em;
    margin-bottom:  .5em;
    font-family: sans-serif;
    font-size: 2.0rem;
    font-family: "Anton";
    background-color: #00000040;
    border-radius: 10px;
    backdrop-filter: blur(12px);
    color: #D8225F;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 40%;
    margin-top:  1em;
    background-color: #00000050;
    border-radius: 10px;
    backdrop-filter: blur(12px);
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #000000b0;
    border: solid 0px #000000;
    font-family: "Roboto Mono";
    font-size: 2rem;
    color: #D8225F;
    outline: none;
    border-radius: 10px;
    margin-bottom: .5em;
    margin-top: .5em;
    text-align: center;
}

.weatherwidget-io {
    width: 30%;
    padding: 1em;
    backdrop-filter: blur(12px);
    border-radius: 10px;
    font-size: 1rem;
}

.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: center;
    width: 80%;
    margin: .5em 0em;
}

.bookmark-set{
    padding: 1em;
    border-radius: 10px;
    font-family: "Roboto Mono";
    font-size: 1.2rem;
    background-color: #000000A0;
    backdrop-filter: blur(12px);
    width: 240px;
    height: 270px;
    margin: .5em .5em;
}
.bookmark-inner-container {
    overflow-y: scroll;
    height: 80%;
    vertical-align: top;
    background-color: #00000000;
}
.bookmark-title {
    height: 15%;
    display: flex;
    border-radius: 10px;
    font-family: "Anton";
    font-size: 1.5rem;
    font-weight: bolder;
    color: #000000;
    background-color: #00A1DFb0;
    margin: 0em 0em .5em 0em;
    justify-content: center;
    align-items: center;
}
.bookmark {
    text-decoration: none;
    border-radius: 10px;
    color: #00A1DF;
    display:block;
    transition: all 0.25s ease;
    margin: .4em 0em;
}
.bookmark:hover {
    color: #00FFFF;
    background-color: #D8255Fb0;
    transition: all 0.25s ease;
}

@media only screen and (max-width: 960px) {
    #clock {
        margin-top: 1em;
    }
}
