
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background-image: url(harley-quinn2.jpg);
    background-color: #cccccc;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: sans-serif;
    font-size: 5.0rem;
    font-family: "Anton";
    color: #fff;
    margin-bottom: .25em;
    text-align: center;
}

#current_date {
    font-family: sans-serif;
    font-size: 2.0rem;
    font-family: "Anton";
    color: #fff;
    margin-bottom: .25em;
    text-align: center;
}

#search {
    width: 30%;
    background-color: #00000050;
    backdrop-filter: blur(8px);
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #000000b0;
    border: solid 0px #000000;
    font-family: "Roboto Mono";
    font-size: 2rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: .5em;
    margin-top: .5em;
    text-align: center;
}

.weatherwidget-io {
    width: 30%;
    padding: 1em;
    backdrop-filter: blur(8px);
    border-radius: 3px;
    font-size: 1rem;
}

.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: 1rem;
    background-color: #00000050;
    backdrop-filter: blur(8px);
    width: 25%;
    height: 19em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    overflow-y: scroll;
    height: 80%;
    vertical-align: top;
    background-color: #00000000;
}
.bookmark-title {
    height: 15%;
    display: flex;
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #000000b0;
    color: #ededed;
    margin: 0em 0em .5em 0em;
    justify-content: center;
    align-items: center;
}
.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .4em 0em;
}
.bookmark:hover {
    color: #fff;
    background-color: #00000090;
}

